!!!
%html
  %head
    %title= [@title, 'WordSearch'].join(' | ')
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'} WordSearch
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} Ethan Miller &mdash;"
